.source-inspection/

client/node_modules/
client/dist/
client/.angular/
client/coverage/

server/**/bin/
server/**/obj/
server/**/logs/
server/**/appsettings.Development.json
server/**/appsettings.Local.json
server/**/*.user
server/**/*.suo

*.log
.DS_Store
Thumbs.db